<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
        <servlet>
        <servlet-name>NuevaCategoriaController</servlet-name>
        <servlet-class>controller.NuevaCategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaCategoriasController</servlet-name>
        <servlet-class>controller.ListaCategoriasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCategoriaController</servlet-name>
        <servlet-class>controller.EditarCategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCategoriaController</servlet-name>
        <servlet-class>controller.EliminarCategoriaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NuevaCategoriaController</servlet-name>
        <url-pattern>/nuevacategoria.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaCategoriasController</servlet-name>
        <url-pattern>/listacategorias.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCategoriaController</servlet-name>
        <url-pattern>/editarcategoria.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCategoriaController</servlet-name>
        <url-pattern>/eliminarcategoria.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
</web-app>
